.sidebarContent {
    position: absolute;
    right: 0;
}

.sidebarWrapper {
    position: fixed;
    height: 100vh;
    left: 0;
    padding: 0;
    background-color: rgb(248,249,250);
}

.sidebar a {
    padding-left: 30px;
    color: #637381;
    font-weight: 550;
}

    .sidebar a:hover, .sidebar a:focus {
        color: #00AB55;
        background-color: #C8FACD;
        font-weight: 700;
    }

.featureIcon {
    align-content: center;
    margin-right: 10px;
}