<!-- Modal -->
<div class="modal" tabindex="-1" id="modal-alert">
    <div class="modal-dialog"
         style="position: absolute; min-width: 40%;top: 50%;right: 50%;transform: translate(50%,-50%);">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <!-- your title -->
                </h5>
                <a class="btn btn-close btn-modal-close" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer">
                    <span class="ion-ios-close"></span>
                </a>
            </div>
            <div class="modal-body">
                <div class="alert" role="alert" id="alert-modal-message">
                    <!-- your message -->
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-modal-close btn-modal-cancel" data-bs-dismiss="modal" style="min-width: 20%;">Close</button>
                <a href="#"
                   class="btn btn-primary btn-modal-continue"
                   style="min-width: 20%;color: #fff">
                    Continue
                </a>

                <!-- button for remove item -->
                <button hidden
                   class="btn btn-primary btn-confirm-remove"
                   style="min-width: 20%">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>